In [ ]:
# api_source = https://developers.themoviedb.org/3/getting-started/introduction

In [1]:
api = '?api_key=68b6cf96a3586cb114c084cf332dd835'

In [2]:
url = 'https://api.themoviedb.org/3/movie/'

In [5]:
import urllib.request

In [17]:
a= url + '100' + api
b= urllib.request.urlopen(a)
json_str = b.read().decode("utf-8")

In [36]:
json_str

'{"adult":false,"backdrop_path":"/2eBL3wXDZqemW8SJ1RNxqtx6bgJ.jpg","belongs_to_collection":{"id":131,"name":"Three Colors Collection","poster_path":"/ph9rRSTG4xL8nubxNrK00VUMn5l.jpg","backdrop_path":"/AeHExfHIl70SZCea907KfEoSkfJ.jpg"},"budget":0,"genres":[{"id":35,"name":"Comedy"},{"id":18,"name":"Drama"},{"id":9648,"name":"Mystery"}],"homepage":"","id":109,"imdb_id":"tt0111507","original_language":"fr","original_title":"Trois couleurs : Blanc","overview":"Polish immigrant Karol Karol finds himself out of a marriage, a job and a country when his French wife, Dominique, divorces him after six months due to his impotence. Forced to leave France after losing the business they jointly owned, Karol enlists fellow Polish expatriate Mikolah to smuggle him back to their homeland.","popularity":10.184,"poster_path":"/4YGo9kIpaAgXns1xDjoCU0nKm4O.jpg","production_companies":[{"id":183,"logo_path":null,"name":"Le Studio Canal+","origin_country":"FR"},{"id":591,"logo_path":"/q5I5RDwMEiqoNmfaJgd2LraEOJY.png","name":"France 3 Cinéma","origin_country":"FR"},{"id":850,"logo_path":"/aF7qajGJGtMpdrtvssM9g90YanX.png","name":"Eurimages","origin_country":"FR"}],"production_countries":[{"iso_3166_1":"FR","name":"France"},{"iso_3166_1":"PL","name":"Poland"}],"release_date":"1994-01-26","revenue":0,"runtime":92,"spoken_languages":[{"english_name":"Polish","iso_639_1":"pl","name":"Polski"},{"english_name":"French","iso_639_1":"fr","name":"Français"},{"english_name":"Hungarian","iso_639_1":"hu","name":"Magyar"}],"status":"Released","tagline":"","title":"Three Colors: White","video":false,"vote_average":7.5,"vote_count":740}'

In [19]:
import json
json_object = json.loads(json_str)

In [59]:
json_object['adult']
json_object['genres']
json_object['original_title']

'Trois couleurs : Blanc'

In [ ]:
from pandas.io.json import json_normalize

In [61]:
movie_list = {}

In [62]:
for i in range(100,110):
    a= url + str(i) + api
    b= urllib.request.urlopen(a)
    json_str = b.read().decode("utf-8")
    json_object = json.loads(json_str)
    adult = json_object['adult']
    genres = json_object['genres']
    original = json_object['original_title']
    movie_list['adult'] = adult
    movie_list['genres'] = genres
    movie_list['original_title'] = original

In [63]:
movie_list

{'adult': False,
 'genres': [{'id': 35, 'name': 'Comedy'},
  {'id': 18, 'name': 'Drama'},
  {'id': 9648, 'name': 'Mystery'}],
 'original_title': 'Trois couleurs : Blanc'}

In [64]:
import pandas as pd

df = pd.DataFrame(movie_list)

In [66]:
df

   adult                           genres          original_title
0  False     {'id': 35, 'name': 'Comedy'}  Trois couleurs : Blanc
1  False      {'id': 18, 'name': 'Drama'}  Trois couleurs : Blanc
2  False  {'id': 9648, 'name': 'Mystery'}  Trois couleurs : Blanc